html, body {
  height: 100%;
  margin: 0;
}

* {
  --palette1: #131817;
  --palette2: #5AD767;
  --palette3: rgba(255, 255, 255, 0.55);
  --palette4: #55595c;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem!important;
  font-weight: 800!important;
}

h6 {
  font-size: 0.6rem!important;
}

.app-body {
  flex: 1;
}

.footer {
  position: relative;
  bottom: 0;
  border-top: 1px solid var(--palette4);
  padding: 0.75rem 0;
}

.contact-icons {
  font-size: 2.5rem;
  color: var(--palette4);
}

.contact-icons:hover {
  color: #919aa1;
}

.cert-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  gap: 0.5rem;
}

.cert-body {
  padding-bottom: 1.25rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cert-sub {
  color: #919aa1!important;
  font-size: 0.8rem!important;
}

.cert-url a {
  color: #f8f9fa;
  text-decoration: none;
}

.cert-url a:hover {
  color: #919aa1;
}

.cert-status {
  font-size: 0.8rem;
}

.project-url {
  font-size: 1rem;
}

.project-desc {
  text-transform: none!important;
  letter-spacing: normal!important;
  font-size: 0.9rem!important;
}

.card-img-top {
  height: 13rem;
  object-fit: cover;
  object-position: bottom;
}


#pfp {
  border-radius: 50%;
  max-width: 200px;
  margin: 0 auto
}
