html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-general {
  color: #adb5bd!important;
}

h1 {
  font-size: 3.5rem!important;
  font-weight: 800!important;
  color: #adb5bd!important;
}

h6 {
  font-size: 0.8rem!important;
}

.app-body {
  flex: 1;
}

.footer {
  position: relative;
  bottom: 0;
  border-top: 1px solid #55595c;
  padding: 0.75rem 0;
  color: #adb5bd;
}

.contact-icons {
  font-size: 2.5rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  gap: 0.5rem;
}

.card-body {
  padding-bottom: 1.25rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-sub {
  color: #919aa1!important;
  font-size: 0.8rem!important;
}

.card-url a {
  text-decoration: none;
  font-size: 1rem;
}

.card-status {
  font-size: 0.8rem;
}

.project-url a {
  font-size: 1.2rem!important;
}

.url-sm a {
  font-size: 0.7rem;
}

.project-sub {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.project-desc {
  text-transform: none!important;
  letter-spacing: normal!important;
  font-size: 0.9rem!important;
}

.card-img-top {
  height: 13rem;
  object-fit: cover;
  object-position: bottom;
}

#pfp {
  border-radius: 50%;
  max-width: 200px;
  margin: 0 auto
}

a {
  text-decoration: none!important;
}

.form-field {
  background-color: #303030!important;
  text-align: left!important;
  color:#adb5bd!important;
}